@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}


/* Keep map below modals, headers, drawers */
.leaflet-container {
  z-index: 0 !important;
}

/* Prevent controls from floating above UI */
.leaflet-pane,
.leaflet-control {
  z-index: 1 !important;
}

/* Markers should not exceed UI layers */
.leaflet-marker-pane {
  z-index: 2 !important;
}