/* @import "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-5 py-2 rounded-xl font-medium hover:opacity-90;
  }

  .input {
    @apply w-full border border-gray-300 rounded-xl px-4 py-2
      focus:outline-none focus:ring-2 focus:ring-primary;
  }
} */